<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2025 Tanmay Patil

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.


-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for downloading models from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Recommended for checking network connectivity before downloads -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Note: Storage permissions (WRITE_EXTERNAL_STORAGE) are NOT required -->
    <!-- DataStore and ModelManager use internal app storage (/data/data/<package>/files/) -->
    <!-- which apps can access without any special permissions -->

    <application
        android:name="${applicationName}"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nimittam">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Nimittam">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
